{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Common": "./src/common",
          "@Components": "./src/components",
          "@Lib": "./src/lib",
          "@Pages": "./src/pages",
          "@Style": "./src/common/style",
          "@Types": "./src/types",
          "@Utils": "./src/utils"
        }
      }
    ]
  ]
}
