{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Common": "./src/common",
          "@Components": "./src/components",
          "@Lib": "./src/lib",
          "@Pages": "./src/pages"
        }
      }
    ]
  ]
}
