@import '/src/common/style/mixin.scss';
@import '/src/common/style/variables.scss';

div,
h1 {
  outline: none;
}

.container {
  display: flex;
}

.post {
  width: 93%;
  padding: 1.5rem 1rem;
  overflow: scroll;

  &__header {
    display: flex;
    justify-content: space-between;

    &__top {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;
    }

    &__title {
      margin: 0 1rem;
      font-size: 2rem;
      font-weight: bold;
    }

    &__dday {
      font-size: 1.2rem;
    }
  }

  &__status {
    @include center;

    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    color: white;
    font-size: 2.4rem;

    cursor: pointer;
  }

  &__content {
    div {
      margin: 0.5rem 0;
    }
  }
}

.status {
  &__todo {
    background-color: $red-color;
  }

  &__doing {
    background-color: $yellow-color;
  }

  &__done {
    background-color: $green-color;
  }
}

.postnav {
  width: 7%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  button {
    width: 3rem;
    height: 3rem;
    background-color: white;
    margin: 0.4rem 0;

    border: 1px solid $pink-color;
    border-radius: 1.5rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;

    &:active {
      background-color: $deep-pink-color;
      color: white;
    }
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div,
  h1 {
    width: 100%;
  }

  &:hover {
    .box__deleteButton {
      @include center;
    }
  }

  &__deleteButton {
    display: none;
    width: 1rem;
    height: 1rem;

    border-radius: 0.5rem;
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 !important;
  div {
    margin: 0 !important;
  }
}
