@import '@Style/variables.scss';

.main {
  height: 100%;
  background-color: $pink-color;
}

.header {
  width: 100%;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $deep-pink-color;
  background-color: $pink-color;
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-app-region: drag;
}

.content {
  width: calc(100% - 5rem);
  border-top-left-radius: 10px;
  background-color: $light-pink-color;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
}
