@import '/src/common/style/mixin.scss';
@import '/src/common/style/variables.scss';

.nav {
  @include subnav;
  padding: 0 1rem;
  box-sizing: border-box;
  user-select: none;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 1.8rem;
    }

    &__button {
      @include center;
      width: 2rem;
      height: 2rem;
      padding: 0;
      border-radius: 1rem;
      outline: none;
      font-size: 2rem;
      border: 2px solid white;

      color: $deep-pink-color;
      background-color: white;
      border-left-color: $pink-color;
      border-top-color: $pink-color;
      border-right-color: $deep-pink-color;
      border-bottom-color: $deep-pink-color;
      cursor: pointer;

      &:active {
        border-left-color: $deep-pink-color;
        border-top-color: $deep-pink-color;
        border-right-color: $pink-color;
        border-bottom-color: $pink-color;
      }
    }
  }

  &__bottom {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.accordion {
  &__plus,
  &__header,
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
    padding: 0.5rem;

    border: 1px solid $pink-color;
    border-radius: 5px;
    color: $black-color;
    cursor: pointer;

    &:hover {
      background-color: $pink-color;
    }
  }

  &__header {
    height: 1.5rem;
    color: $deep-pink-color;
    border: 1px solid $deep-pink-color;

    &:hover {
      color: white;
      background-color: $deep-pink-color;
      .accordion__header__buttons {
        display: block;
      }
    }

    &__buttons {
      display: none;
      button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;
      }
    }
  }

  &__plus {
    @include center;
    padding: 0;

    color: white;
    background-color: $pink-color;
    font-weight: bold;
    font-size: 2rem;

    &:hover {
      background-color: $deep-pink-color;
    }
  }

  &__name,
  &__item__name {
    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  &__input {
    padding: none;
    border: none;

    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    background-color: $deep-pink-color;
    outline: none;

    &::placeholder {
      color: white;
      opacity: 0.8;
    }
  }

  &__item {
    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  &__status {
    margin-right: 0.2rem;
    font-weight: bold;
    color: $deep-pink-color;
  }
}

.choosed {
  &__list {
    color: white;
    background-color: $deep-pink-color;
  }

  &__item {
    background-color: $pink-color;
  }
}
